@charset "utf-8";

/* CSS Document */

#schedule-content .header {
    margin: 0 auto;
}

#schedule-content .nav {
    font-size: 14px;
    background: #2d2d2d;
    -moz-border-bottom-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 0 5px;
}

#schedule-content .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#schedule-content .nav ul li {
    display: inline;
    margin: 0;
    padding: 0;
}

#schedule-content .nav ul li:first-child {
    margin: 0 0 0 5px;
}

#schedule-content .nav ul li:last-child {
    margin: 0 5px 0 0;
}

#schedule-content .nav ul li a {
    display: inline-block;
    color: #f2f2f2;
    padding: 10px;
    text-decoration: none;
}

#schedule-content .nav ul li a:hover {
    color: #565656;
}

#schedule-content h2 {
    font-size: 16px;
    font-weight: bold;
    color: #9b9b9b;
    border: #aaaaaa 1px dashed;
    padding: 5px;
    margin: 0 5px;
}

#schedule-content p {
    text-align: left;
    font-size: 12px;
    color: #2d2d2d;
    margin: 5px;
    padding: 0;
    line-height: 20px;
}

#schedule-content p a {
    color: #3c9ddb;
    text-decoration: none;
}

#schedule-content p a:hover {
    color: #4d4444;
}

#schedule-content .nav2 {
    font-size: 14px;
    background: #2d2d2d;
    -moz-border-top-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-top-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    margin: 0 5px;
}

#schedule-content .nav2 p {
    text-align: center;
    color: #f2f2f2;
    margin: 0 5px;
    padding: 5px 0;
}

#schedule-content .nav2 p a {
    display: inline-block;
    color: #88aa00;
    padding: 5px;
    text-decoration: none;
}

#schedule-content .nav2 p a:hover {
    color: #565656;
}

#schedule-content .clear {
    clear: both;
}