div {
    position: relative;
    left: 0;
    border: 3px solid rgb(218, 102, 0);
    background-color: rgb(255, 218, 150);
    border-radius: 30px;
    padding: 1%;
    width: 20%;
}

h1 {
    position: relative;
    left: 0;
}

img {
    width: 300px;
}